[about]
image: icons/heart.svg
top_msg: You should edit config.ini
mid_msg: and change the text of these
low_msg: to whatever you would like! 
show_wifi: y
show_ip: y

[global]
use_battery: n

[location]
use_gps: n
latitude: 0.00
longitude: 0.00
elevation: 0

[path]
astro_path: /opt/astroinky

[picture]
nasa_api_key: xz
nasa_api_url: https://api.nasa.gov/planetary/apod
pic_save_path: /opt/astroinky/apod_picture.jpg
