[Unit]
Description=AstroInky Handler
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/astroinky/venvs/astroinky/bin/python3 /opt/astroinky/venvs/astroinky/AstroInky/AstroInky/handler.py
WorkingDirectory=/opt/astroinky/venvs/astroinky/AstroInky/AstroInky
StandardOutput=inherit
StandardError=inherit
Restart=always
User=astrouser
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
